.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
}

.form-group {
    width: 100%;
}

.table-container {
    width: 50rem;
    display: flex;
    margin: auto;
    margin-top: 2rem;
}

button a {
    text-decoration: none;
    color: #fff;
}